* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.navbar{
  height: 30vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.new-img{
  background-image: url("https://cdn.tutsplus.com/cdn-cgi/image/width=360/active/uploads/legacy/tuts/008_colorPicker/Tutorial/8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-div{
  background-color: aliceblue;
  width: 50%;
  height: 30vh;
  border-radius: 10px;

}
ul li .color-list {
  text-decoration: none;
}

ul li :hover {
  text-decoration: underline;
}

.color-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 20vh;
  width: 50%;
}